<div class="full-size" style="position: relative;" projectRootParent="">
    <div class="full-size positionable" style="left: 0px; top: 0px;" modalPlace="">
        <div class="positionable context-menu" style="left: -1000px; z-index: 10;" contextMenuProject="">
            <div contextmenuButton="Close">Close</div>
            <div contextmenuButton="Rename">Rename</div>
            <div contextmenuButton="CreateFolder">CreateFolder</div>
            <div contextmenuButton="CreateFile">CreateFile</div>
            <div contextmenuButton="Delete">Delete</div>
        </div>
        <div class="positionable" style="left: -1000px; z-index: 10;" renameFileObject="">
            <input type="text" style="position: relative; left: -50%" id="renameInput">
        </div>
    </div>

    <div style="left: 15px; top:0px; position: relative;" projectRoot="">
        <div><%- api.visualizeFileEntry(tree) %></div>
    </div>
</div>