<div style="position: relative;">
    <div style="position: absolute; left: 0px; top: 0px;">Script</div>
    <div componentScript="0" style="position: absolute; left: 50px; top: 0px; height: 15px; width: 120px; border-style: solid;"></div>
</div>