<div class="anchor-element" style="left: 20px; width: 0%; height: 0%">
    <% var offset = '0px'; %>
    <% if (fileEntry.isFolder()) { %>
        <div class="expand-button"></div>
        <% offset = '13px'; %>
    <% } %>
    <div class="positionable unselectable" style="left: <%= offset %>; top: 0px;" file-entry="<%= fileEntry.id %>">
        <%= fileEntry.getName() %>
        <div class="positionable" style="left: 0%; top: 0%" context-menu-place="<%= fileEntry.id %>"></div>
    </div>
</div>