<div class="anchor-element unselectable" game-object="<%= gm.id %>" style="left: 20px; top: 10px; width: 0%;">
    <div style="position: relative">
        <% var offset = '0px'; %>
        <% if (gm.children.length > 0) { %>
            <% var ebStyle = 'expand-button'; %>
            <% if (ctrl.isExpanded(gm.id)) { %>
                <% ebStyle = 'expand-button-rotated'; %>
            <% } %>
            <div class="<%= ebStyle %>" game-object-expand-button="<%= gm.id %>"></div>
            <% offset = '13px' %>
        <% } %>
        <div class="anchor-element" style="left: <%= offset %>; width: 200px" game-object-entry="<%= gm.id %>">
            <%= gm.name %>
            <div class="positionable" style="left: 0%; top: 0%" context-menu-place="<%= gm.id %>"></div>
        </div>
    </div>
    <% if (gm.children.length > 0 && ctrl.isExpanded(gm.id)) { %>
        <div style="position: relative; left: 20px">
            <% for (var i = 0; i < gm.children.length; ++i) { %>
                <%- gm.children[i].renderSync(ctrl) %>
            <% } %>
        </div>
    <% } %>
</div>