<div class="anchor-element unselectable">
    <% var topOffset = '0px'; %>
    <% if (controller.getOpenedPrefab()) { %>
        <% topOffset = '6px'; %>
        <div class="anchor-element" style="left: 15px; width: 0px">
            <div type="text" hierarchy-selected-prefab="<%= controller.getOpenedPrefab().id %>"><%= controller.getOpenedPrefab().getName() %></div>
            <button hierarchy-prefab-flush-button="<%= controller.getOpenedPrefab().id %>">Flush</button>
            <button hierarchy-prefab-close-button="<%= controller.getOpenedPrefab().id %>">Close</button>
        </div>
    <% } %>
    <div class="anchor-element" style="top: <%= topOffset %>">
        <%- root.render(controller) %>
    </div>
</div>