html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.anchor-element {
    position: relative;
}

.positionable {
    position: absolute;
}

.full-size {
    width: 100%;
    height: 100%;
}

.separator {
    background-color: rgba(100,100,100,255);
    user-select: none;
    z-index: 10;
}