<div class="positionable full-size" style="left: 0px; top: 0px" modalPlace="">
    <div class="positionable context-menu" style="left: -100px; z-index: 10;" contextMenu="">
        <div contextmenuButton="Close">Close</div>
        <div contextmenuButton="Rename">Rename</div>
        <div contextmenuButton="Create">Create</div>
        <div contextmenuButton="Delete">Delete</div>
    </div>
    <div class="positionable" style="left: -1000px; z-index: 10;" renameGameObject="">
        <input type="text" style="position: relative; left: -50%" id="renameInput">
    </div>
</div>
<div style="left: 15px; top:0px; position: relative;" hierarchyRoot="">
    <div><%- api.renderGO(model) %></div>
</div>